p {
  line-height: 1.4rem;
}

.content-container {
  display: grid;
  grid-template-areas: 'profile' 'content' 'contact';
  place-items: center;
  padding: 1rem;
  align-items: center;
}

.profile-section {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  grid-area: content;
}

.description {
  background: var(--card-bg);
  padding: 1rem;
  border-radius: 0.5rem;
}

.contact {
  margin-bottom: 4rem;
}

.profile-section > img {
  border-radius: 100%;
}

.action-btn {
  --btn-hover-clr: rgb(0, 95, 122);
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .content-container {
    margin: var(--nav-height) auto 0 auto;
    max-width: var(--max-container-width);
    grid-template-areas:
      'profile content'
      'profile contact';
    grid-template-columns: 1fr 1fr;
    min-height: calc(100vh - var(--nav-height));
  }
  .contact {
    place-self: start center;
  }
}
