p {
  line-height: 1.4rem;
}

.content-container {
  display: grid;
  grid-template-areas: 'profile' 'content' 'contact';
  place-items: center;
  padding: 0 1rem;
  align-items: center;
  margin-top: calc(1rem + var(--nav-height));
}

.profile-section {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.profile-section > img {
  border: solid 1px var(--card-border-clr);
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.paragraph-container {
  display: grid;
  background: var(--card-bg);
  padding: 0 1rem 1rem 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--card-border-clr);
}

.paragraph-header {
  background: var(--card-border-clr);
  width: max-content;
  padding: 1rem 2rem;
  place-self: center;
  border-radius: 0 0 0.3rem 0.3rem;
}

.contact {
  margin-bottom: 4rem;
}

.profile-section > img {
  border-radius: 100%;
}

.action-btn {
  --btn-hover-clr: rgb(0, 95, 122);
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .content-container {
    margin: var(--nav-height) auto 0 auto;
    max-width: var(--max-container-width);
    grid-template-areas:
      'profile content'
      'profile contact';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    min-height: calc(100vh - var(--nav-height));
  }
  .contact {
    place-self: start center;
  }
}
