.content-container {
  display: grid;
  grid-template-areas: 'form' 'links';
  padding: 0 1rem;
  margin-top: var(--nav-height);
}

.contact-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  width: 100%;
}

.form-elem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2 {
  text-align: center;
}

input,
textarea {
  border-radius: 0.3rem;
  border: none;
  padding: 0.7rem;
  background: var(--card-bg);
  resize: vertical;
  color: var(--text-clr);
  font-family: 'Rubik', sans-serif;
}

input:focus,
textarea:focus {
  outline: solid var(--card-border-clr) 2px;
  box-shadow: 0 0 5px black;
}

label {
  width: max-content;
}

.links-container {
  grid-area: links;
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 7vw, 3rem);
  margin-bottom: 4rem;
}

.links-container > a {
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
}

.links-container > a > svg {
  fill: var(--text-clr);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.linkedin-link > svg:hover {
  transform: scale(1.2);
  fill: #2176a3;
  filter: drop-shadow(0 0 15px #34698562);
  -webkit-filter: drop-shadow(0 0 15px #34698562);
}
.github-link > svg:hover {
  transform: scale(1.2);
  fill: #9445b6;
  filter: drop-shadow(0 0 15px #6e59776f);
  -webkit-filter: drop-shadow(0 0 15px #6e59776f);
}
.email-link > svg:hover {
  transform: scale(1.2);
  fill: #087dd7;
  filter: drop-shadow(0 0 15px #022743);
  -webkit-filter: drop-shadow(0 0 15px #022743);
}

.button-container[data-single='true'] {
  grid-template-columns: 1fr;
}

.button-container > div {
  position: absolute;
  width: 1px;
}

.reset {
  z-index: 10;
}

#submit-btn {
  z-index: 10;
  background: rgb(0, 95, 122);
  border: transparent;
}

#submit-btn:hover {
  background: rgba(0, 95, 122, 0.626);
}

.action-btn[data-submit='fail'] {
  background: rgb(114, 29, 29);
}

.action-btn[data-submit='success'] {
  background: rgb(29, 114, 73);
}

.clear-btn {
  border: solid rgb(114, 29, 29) 3px;
}

.clear-btn:hover {
  background: rgb(114, 29, 29);
}

.reset-btn {
  border: transparent;
  background: rgb(114, 104, 29);
}

.reset-btn:hover {
  background: rgba(114, 104, 29, 0.6);
}

/* Loading Icon */

.loading {
  color: official;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.loading[data-active='false'],
.plane[data-active='false'],
.exclaimation[data-active='false'],
.check[data-active='false'] {
  display: none;
}

.loading div {
  transform-origin: 10px 10px;
  animation: loading 0.8s linear infinite;
}
.loading div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0.75px;
  left: 9px;
  width: 1.5px;
  height: 5px;
  border-radius: 50%;
  background: var(--text-clr);
}
.loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7s;
}
.loading div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.6s;
}
.loading div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.5s;
}
.loading div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.4s;
}
.loading div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.3s;
}
.loading div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.2s;
}
.loading div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.1s;
}
.loading div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Recaptcha */
.grecaptcha-badge {
  visibility: hidden;
  pointer-events: none;
}

.recaptcha-notif {
  margin: 3rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #02091a 30%, #203350);
  padding: 1rem;
  border-radius: 0.4rem;
}

.privacy-container {
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
}

.privacy-container > a {
  text-decoration: none;
  background: rgba(75, 75, 75, 0.5);
  color: var(--text-clr);
  padding: 0.75rem;
  border-radius: 0.3rem;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.privacy-container > a:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 5px var(--shadow-clr);
}

@media (min-width: 768px) {
  .content-container {
    grid-template-areas: 'form links';
    grid-template-rows: 1fr;
    place-items: center;
    max-width: 1280px;
    margin: var(--nav-height) auto 0 auto;
    min-height: calc(100vh - var(--nav-height));
  }
  /* .form {
    height: max-content;
    width: 100%;
  } */
}
