.content-container {
  display: grid;
  grid-template-areas: 'form' 'links';
  padding: 0 1rem;
  height: calc(100vh - var(--nav-height));
}

.contact-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-elem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2 {
  text-align: center;
}

input,
textarea {
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  background: var(--card-bg);
  resize: vertical;
  color: var(--text-clr);
  font-family: 'Rubik', sans-serif;
}

input:focus,
textarea:focus {
  outline: solid var(--card-border-clr) 2px;
  box-shadow: 0 0 5px black;
}

label {
  width: max-content;
}

.links-container {
  grid-area: links;
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 7vw, 3rem);
}

.links-container > a {
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
}

.links-container > a > svg {
  fill: var(--text-clr);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.linkedin-link > svg:hover {
  transform: scale(1.2);
  fill: #2176a3;
  filter: drop-shadow(0 0 15px #34698562);
  -webkit-filter: drop-shadow(0 0 15px #34698562);
}
.github-link > svg:hover {
  transform: scale(1.2);
  fill: #9445b6;
  filter: drop-shadow(0 0 15px #6e59776f);
  -webkit-filter: drop-shadow(0 0 15px #6e59776f);
}
.email-link > svg:hover {
  transform: scale(1.2);
  fill: #087dd7;
  filter: drop-shadow(0 0 15px #022743);
  -webkit-filter: drop-shadow(0 0 15px #022743);
}

.button-container[data-single='true'] {
  grid-template-columns: 1fr;
}

#submit-btn {
  --btn-hover-clr: rgb(0, 95, 122);
}

.action-btn[data-submit='fail'] {
  border-color: rgb(114, 29, 29);
  background: rgb(114, 29, 29);
}

.action-btn[data-submit='success'] {
  border-color: rgb(29, 114, 73);
  background: rgb(29, 114, 73);
}

.reset:hover {
  border-color: rgb(114, 29, 29);
  background: rgb(114, 29, 29);
}

/* Loading Icon */

.loading {
  color: official;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.loading[data-active='false'],
.plane[data-active='false'],
.exclaimation[data-active='false'],
.check[data-active='false'] {
  display: none;
}

.loading div {
  transform-origin: 10px 10px;
  animation: loading 0.8s linear infinite;
}
.loading div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0.75px;
  left: 9px;
  width: 1.5px;
  height: 5px;
  border-radius: 50%;
  background: var(--text-clr);
}
.loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7s;
}
.loading div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.6s;
}
.loading div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.5s;
}
.loading div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.4s;
}
.loading div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.3s;
}
.loading div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.2s;
}
.loading div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.1s;
}
.loading div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .content-container {
    grid-template-areas: 'form links';
    place-items: center;
    max-width: 1280px;
    margin: var(--nav-height) auto 0 auto;
    height: calc(100vh - var(--nav-height));
  }
  .form {
    height: max-content;
    width: 100%;
  }
}
