h1 {
  font-size: 24px;
}

img {
  user-select: none;
}

body {
  background: rgb(70, 80, 84);
  transition: background linear 0.3s;
}

.project-container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
  grid-template-areas: 'title' 'project-info' 'carousel-btn' 'carousel';
  grid-template-rows: max-content max-content max-content 1fr;
}

.title-container {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: var(--nav-clr);
  margin: 1rem;
  border-radius: 0.5rem;
  width: 80%;
  /* box-shadow: 0 0 5px rgba(115, 115, 115, 0.378); */
}

.counter {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 1px;
  height: 1rem;
  background: var(--text-clr);
  rotate: 30deg;
}

.project-info {
  grid-area: project-info;
  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: 3rem;
  user-select: none;
  -webkit-user-select: none;
}

.project-descript {
  text-align: center;
}

.carousel-btn-container {
  display: flex;
  gap: 5rem;
  grid-area: carousel-btn;
}

.carousel-btn-container > button {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0.3rem;
  border-radius: 999px;
  border: solid var(--card-border-clr) 1px;
  background: var(--card-bg);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  cursor: pointer;
}

.carousel-btn-container > button:hover {
  transform: scale(1.2);
}

.project-carousel {
  grid-area: carousel;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.carousel-list {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  perspective: 300px;
  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
}

.list-item {
  position: absolute;
  display: grid;
  place-items: center;
  width: 80%;
  height: 100%;
  box-shadow: 0 2px 5px rgba(86, 86, 86, 0.309);
  border-radius: 0.5rem;
  max-height: 500px;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.img-container,
.img-container-2 {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.img-container > img {
  position: absolute;
  max-height: 600px;
  bottom: -300px;
  filter: drop-shadow(0 0 5px rgba(36, 36, 36, 0.185));
}

.list-item[data-card='munch'] {
  background: linear-gradient(45deg, rgb(132, 212, 218), rgb(184, 216, 255));
}
.list-item[data-card='yopo'] {
  background: linear-gradient(45deg, rgb(223, 193, 121), rgb(254, 250, 202));
}
.list-item[data-card='kcl'] {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(152, 151, 140));
  cursor: default;
}

.list-item[data-pos='0'] {
  z-index: 5;
}
.list-item[data-pos='1'] {
  filter: blur(2px);
  transform: translateX(70%) scale(0.8);
  z-index: 1;
}
.list-item[data-pos='-1'] {
  filter: blur(2px);
  transform: translateX(-70%) scale(0.8);
  z-index: 1;
}

/* Dekstop View */

@media (min-width: 768px) {
  .project-container {
    grid-template-areas: 'title project-info carousel-btn carousel';
    grid-template-columns: max-content 1fr max-content 2fr;
    grid-template-rows: auto;
    max-width: 1920px;
    margin: var(--nav-height) auto 0 auto;
  }

  .title-container {
    padding: 1rem 0 1rem 0 !important;
    height: 85%;
    flex-direction: column-reverse;
    padding: 0;
    width: max-content;
    margin-left: 1rem;
  }

  .title {
    rotate: -90deg;
    margin-bottom: 3rem;
  }

  .carousel-btn-container {
    flex-direction: column;
  }

  .carousel-btn-container > button {
    rotate: 90deg;
  }

  .project-carousel {
    overflow: hidden;
  }

  .counter {
    flex-direction: column;
  }

  .divider {
    width: 1rem;
    height: 1px;
    rotate: none;
  }

  .carousel-list {
    align-items: center;
  }

  .list-item[data-pos='0'] {
    z-index: 5;
  }
  .list-item[data-pos='1'] {
    filter: blur(2px);
    transform: translateY(30%) scale(0.8);
    z-index: 1;
  }
  .list-item[data-pos='-1'] {
    filter: blur(2px);
    transform: translateY(-30%) scale(0.8);
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .project-container {
    grid-template-columns: max-content 1fr max-content 1fr;
  }
  .title-container {
    margin-left: 5rem;
  }
}
