:root {
  font-family: "Rubik", sans-serif;
  --bg-clr: white;
  --bg-clr-dark: #121212;
  --bdblur: 10px;
  --nav-clr: rgba(209, 209, 209, 0.425);
  --nav-clr-open: rgba(71, 71, 71, 0.425);
  --nav-height: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

.bg-deco1,
.bg-deco2 {
  position: fixed;
  border-radius: 600px;
}

/* Navbar */

.navbar {
  position: fixed;
  display: grid;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 64px;
}

.nav-bg {
  position: absolute;
  background: var(--nav-clr);
  height: calc(440px + var(--nav-height));
  width: 100%;
  backdrop-filter: blur(var(--bdblur));
  -webkit-backdrop-filter: blur(var(--bdblur));
  transform: translateY(calc(64px - 504px));
  transition: cubic-bezier(1, 0, 0, 1) 0.75s;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 0.75s;
}

.nav-bg[data-active="true"] {
  transform: translateY(0);
  border-radius: 0 0 0.5rem 0.5rem;
  background: var(--nav-clr-open);
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  height: var(--nav-height);
  z-index: 9999;
}

.main-icon,
.main-icon > svg {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.hamburger-icon,
.hamburger-icon > svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  z-index: 9999;
  transform: translateY(-30rem);
  transition: transform cubic-bezier(1, 0, 0, 1) 0.75s,
    opacity cubic-bezier(1, 0, 0, 1) 0.55s;
  -webkit-transition: transform cubic-bezier(1, 0, 0, 1) 0.75s,
    opacity cubic-bezier(1, 0, 0, 1) 0.55s;
  opacity: 0;
}

.nav-items[data-active="true"] {
  transform: translateY(0px);
  opacity: 100;
}

.toggle-dark,
.toggle-light {
  margin: 2.5rem 0;
  width: 32px;
  aspect-ratio: 1;
}

.toggle-light {
  display: none;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 5rem;
  width: 100%;
}

.nav-items > ul > li::after {
  content: "";
  background-color: rgb(96, 96, 96);
  width: 70%;
  height: 1px;
  display: block;
  margin: auto;
  border-radius: 2rem;
}

.navlinks {
  text-decoration: none;
  color: black;
  user-select: none;
  -webkit-user-select: none;
}

.active {
  font-weight: bold;
}

.desktop-nav {
  display: none;
}

/* Content */

.content-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  height: 105px;
}

.footer-container::before {
  content: "";
  width: 80%;
  height: 4px;
  background: rgb(151, 151, 151);
  margin: auto;
  border-radius: 100rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.footer-container[data-icon="linkedin"]::before {
  background: #0077b5;
  box-shadow: 0 0 15px #4891b9;
}

.footer-container[data-icon="github"]::before {
  background: #452055;
  box-shadow: 0 0 15px #876d92;
}

.footer-info {
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0 0 0;
}

.link-container > a {
  width: 32px;
  height: 32px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.link-container > a > svg {
  width: 32px;
  height: 32px;
}

.linkedin-btn:hover {
  fill: #0077b5;
  transform: scale(1.25);
  filter: drop-shadow(0 0 15px #4891b9);
}

.github-btn:hover {
  fill: #452055;
  transform: scale(1.25);
  filter: drop-shadow(0 0 15px #876d92);
}

/* Utility */

.dark {
  background: var(--bg-clr-dark);
}

@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
  .nav-bg[data-active="true"] {
    transform: translateY(0);
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .nav-items {
    display: none;
  }
  .desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 3rem;
  }
  .desktop-nav > a {
    margin: 0;
    margin-left: 3rem;
  }
  .toggle-dark,
  .toggle-light {
    height: 20px;
    width: 20px;
  }
  .footer-container {
    display: grid;
    grid-template:
      "line line"
      "copyright links";
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1280px;
    margin: auto;
    padding: 0;
    height: auto;
  }
  .footer-container::before {
    grid-area: line;
    margin: auto;
    width: 100%;
    place-self: end;
  }
  .link-container {
    padding: 1rem 0;
    max-width: 1024px;
  }
}
