:root {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  box-sizing: border-box;
  /* ------------- */
  /* CSS Variables */
  /* ------------- */

  /* Backgrounds */
  --bg-clr: white;
  --bg-clr-dark: #252727;
  --backdrop-blur: 20px;
  --alt-section-clr: #2f3131;
  /* Navigation */
  --nav-clr: rgba(22, 22, 23, 0.8);
  --nav-elem-clr: #d0d0d0;
  --nav-height: 50px;
  --nav-bg-height: 350px;
  /* Etc */
  --text-clr: #dedede;
  --shadow-clr: rgba(0, 0, 0, 0.3);
  --content-title-bg: rgba(58, 58, 58, 0.8);
  --card-bg: rgb(61, 61, 61);
  --card-border-clr: rgb(75, 75, 75);
  --max-container-width: 1280px;
  --btn-hover-clr: rgb(75, 75, 75);
  --primary-btn: rgb(0, 95, 122);
}

html {
  scroll-behavior: smooth;
  color: rgb(50, 50, 50);
}

body {
  padding: 0;
  margin: 0;
  background: var(--bg-clr-dark);
  color: var(--text-clr);
}

button {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background: transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--nav-clr);
}

::-webkit-scrollbar-thumb {
  background: rgb(107, 107, 107);
}

::-webkit-scrollbar {
  width: 10px;
}

.bg-deco1,
.bg-deco2 {
  position: fixed;
  border-radius: 600px;
}

.disable-anim {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
}

/* Navbar */

.navbar {
  position: fixed;
  display: grid;
  width: 100%;
  top: 0;
  z-index: 9999;
  height: var(--nav-height);
}

.triangle {
  transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
  -webkit-transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
}

.nav-bg {
  position: absolute;
  background: var(--nav-clr);
  height: calc(var(--nav-bg-height) + var(--nav-height));
  /* Original value with dark mode icon */
  /* height: calc(440px + var(--nav-height)); */
  width: 100%;
  backdrop-filter: blur(var(--backdrop-blur)) brightness(0.5);
  -webkit-backdrop-filter: blur(var(--backdrop-blur)) brightness(0.5);
  transform: translateY(calc(-1 * (var(--nav-bg-height))));
  transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
  -webkit-transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
  -moz-transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
}

.project-modal[data-active='false'] {
  transform: translateY(500px);
}

.project-modal {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  background: var(--nav-clr);
  backdrop-filter: blur(var(--backdrop-blur)) brightness(0.5);
  padding-bottom: 5rem;
  -webkit-backdrop-filter: blur(var(--backdrop-blur)) brightness(0.5);
  transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
  -webkit-transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
  -moz-transition: cubic-bezier(0.1, 1, 0.2, 1) 0.6s;
}

.modal-title {
  margin-top: 2rem;
}

.proj-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.proj-btn {
  width: 80%;
  background: var(--card-bg);
  text-decoration: none;
  padding: 1rem 0;
  border-radius: 2rem;
  text-align: center;
  color: var(--text-clr);
}

.proj-btn:hover {
  background: var(--card-border-clr);
}

.close-modal {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  margin: 1.5rem 1rem 0 0;
  border: none;
  border-radius: 50%;
  background: var(--card-bg);
  fill: var(--text-clr);
  cursor: pointer;
}

.close-modal:hover {
  background: rgb(255, 85, 85);
}

.proj-btn[data-active='true'] {
  background: rgb(0, 135, 172);
}

.project-modal > ul > li {
  width: 100%;
  height: max-content;
}

.nav-bg[data-active='true'] {
  transform: translateY(0);
  border-radius: 0 0 0.5rem 0.5rem;
}

.nav-bg[data-type='projects'] {
  transform: translateY(0);
  border-radius: 0 0 0.5rem 0.5rem;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  height: var(--nav-height);
  z-index: 9999;
}

.nav-close {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8000;
  background: transparent;
  display: none;
}

.nav-close[data-active='true'] {
  display: block;
}

.main-icon,
.hamburger-icon {
  cursor: pointer;
  fill: var(--nav-elem-clr);
  border: none;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  z-index: 9999;
  transform: translateY(-40rem);
  transition: transform cubic-bezier(0.1, 1, 0.2, 1) 0.6s,
    opacity cubic-bezier(0.1, 1, 0.2, 1) 0.45s;
  -webkit-transition: transform cubic-bezier(0.1, 1, 0.2, 1) 0.6s,
    opacity cubic-bezier(0.1, 1, 0.2, 1) 0.45s;
  -moz-transition: transform cubic-bezier(0.1, 1, 0.2, 1) 0.6s,
    opacity cubic-bezier(0.1, 1, 0.2, 1) 0.45s;
  opacity: 0;
}

.nav-items[data-active='true'] {
  transform: translateY(0px);
  opacity: 1;
}

.toggle-dark {
  border: none;
  padding: 2rem 0;
  margin: 0;
  height: 32px;
  width: 32px;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 5rem;
  width: 100%;
}

.nav-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list > li::after {
  content: '';
  background-color: rgb(96, 96, 96);
  width: 70%;
  height: 1px;
  display: block;
  margin: auto;
  border-radius: 2rem;
}

.nav-list > li:last-child::after {
  display: none;
}

.navlinks {
  text-decoration: none;
  color: var(--nav-elem-clr);
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.navlinks[aria-current='page'] {
  color: rgb(0, 135, 172);
  font-weight: bolder;
}

.navlinks:not([aria-current='page']):hover {
  color: grey;
}

.desktop-nav {
  display: none;
}

/* Content */

.content-container {
  display: flex;
  flex-direction: column;
}

.para {
  margin: 3rem 0;
}

.para-first {
  margin: 1rem 0 3rem 0;
}

.detail-wrapper {
  display: grid;
}

.project-details {
  background: var(--bg-clr-dark);
}

.date {
  color: grey;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin: 1rem 0 0 0;
}

.insight-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
}

.insight {
  background: var(--card-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr 3fr;
  max-width: 300px;
  height: 275px;
  box-shadow: 0 3px 8px var(--shadow-clr);
}

.insight > h3 {
  line-height: 0;
}

.insight > p {
  text-align: center;
  place-self: start;
}

.insight-icon {
  width: 100px;
  height: 100px;
  background: var(--insight-icon-clr);
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.insight-pain {
  background: #cf6679;
}

.insight-icon > svg {
  width: 40px;
  height: 40px;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  height: 105px;
  color: #d0d0d0;
}

.footer-container::before {
  content: '';
  width: 80%;
  height: 4px;
  background: #d0d0d0;
  margin: auto;
  border-radius: 100rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.footer-container[data-icon='linkedin']::before {
  background: #2176a3;
}

.footer-container[data-icon='github']::before {
  background: #9445b6;
}

.footer-info {
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0 0 0;
}

.link-container > a {
  width: 32px;
  height: 32px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.linkedin-btn,
.github-btn {
  fill: #d0d0d0;
}

.linkedin-btn:hover {
  fill: #2176a3;
  transform: scale(1.25);
  filter: drop-shadow(0 0 5px #34698562);
  -webkit-filter: drop-shadow(0 0 5px #34698562);
}

.github-btn:hover {
  fill: #9445b6;
  transform: scale(1.25);
  filter: drop-shadow(0 0 5px #6e59776f);
  -webkit-filter: drop-shadow(0 0 5px #6e59776f);
}

.action-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 693px;
  margin: auto;
}

.action-btn {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: max-content;
  padding: 1rem 1.5rem;
  color: var(--text-clr);
  fill: var(--text-clr);
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
  background: var(--btn-clr);
  transition: background cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s,
    border cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s,
    box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -webkit-transition: background cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s,
    border cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s,
    box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  -moz-transition: background cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s,
    border cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s,
    box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.action-btn > svg {
  width: 20px;
  height: 20px;
}

.action-btn:hover {
  box-shadow: 0 3px 8px var(--shadow-clr);
  background: var(--btn-hover-clr);
}

/* Utility */

.hidden {
  display: none;
}

.r180 {
  transform: rotate(180deg);
}

.mt-2 {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
  .nav-bg[data-active='true'] {
    transform: translateY(0);
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .nav-items {
    display: none;
  }
  .desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
  }

  .project-modal {
    flex-direction: row;
    top: calc(var(--nav-height) + 1rem);
    left: 50%;
    transform: translate(-50%, 0);
    max-width: var(--max-container-width);
    border-radius: 0.5rem;
    height: max-content;
    padding: 0.5rem;
    gap: 1rem;
    justify-content: space-between;
    z-index: 100;
    width: 80%;
    backdrop-filter: blur(var(--backdrop-blur)) brightness(1);
  }

  .project-modal[data-active='false'] {
    transform: translate(-50%, -10rem);
  }

  .proj-btn-wrapper {
    flex-direction: row;
    margin: 0 2rem;
    gap: 5rem;
    width: max-content;
  }

  .proj-btn {
    background: none;
    width: max-content;
    padding: 0;
  }

  .proj-btn[data-active='true'] {
    background: none;
    color: rgb(0, 135, 172);
    font-weight: bold;
  }

  .proj-btn:hover {
    color: rgb(0, 135, 172);
    background: none;
  }

  .modal-title {
    display: none;
  }

  .close-modal {
    position: relative;
    margin: 0;
    border-radius: 0.5rem;
  }

  .nav-list {
    display: flex;
    gap: 3rem;
    height: var(--nav-height);
    align-items: center;
    line-height: 0;
  }
  .nav-list > li::after {
    display: none;
  }

  .detail-wrapper > h2 {
    font-size: 26px;
  }

  .detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: auto;
  }
  .proj-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 1rem;
  }
  .role,
  .goals,
  .target {
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    background: var(--card-bg);
    box-shadow: 0 3px 8px var(--shadow-clr);;
    position: relative;
  }
  .date {
    position: absolute;
    bottom: 0;
  }
  .insight-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .footer-container {
    display: grid;
    grid-template:
      'line line'
      'copyright links';
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1280px;
    margin: auto;
    padding: 0;
    height: max-content;
  }
  .footer-container::before {
    grid-area: line;
    margin: auto;
    width: 100%;
    place-self: end;
  }
  .link-container {
    padding: 1rem 0;
    max-width: 1024px;
  }
}
