:root {
  font-family: "Rubik", sans-serif;
  --bg-clr: white;
  --bg-clr-dark: rgb(38, 42, 43);
  --bdblur: 5px;
  --nav-clr: rgba(128, 128, 128, 0.425);
  --nav-height: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar {
  position: fixed;
  display: grid;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 64px;
}

.nav-bg {
  position: absolute;
  background: rgba(128, 128, 128, 0.425);
  height: calc(440px + var(--nav-height));
  width: 100%;
  backdrop-filter: blur(var(--bdblur));
  -webkit-backdrop-filter: blur(var(--bdblur));
  transform: translateY(calc(64px - 504px));
  transition: cubic-bezier(1, 0, 0, 1) 0.75s;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 0.75s;
}

.nav-bg[data-active="true"] {
  transform: translateY(0);
  border-radius: 0 0 0.5rem 0.5rem;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  height: var(--nav-height);
  z-index: 9999;
}

.main-icon,
.main-icon > svg {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.hamburger-icon,
.hamburger-icon > svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  z-index: 9999;
  transform: translateY(-30rem);
  transition: transform cubic-bezier(1, 0, 0, 1) 0.75s, 
  opacity cubic-bezier(1, 0, 0, 1) 0.55s;
  -webkit-transition: transform cubic-bezier(1, 0, 0, 1) 0.75s, 
  opacity cubic-bezier(1, 0, 0, 1) 0.55s;
  opacity: 0;

}

.nav-items[data-active="true"] {
  transform: translateY(0px);
  opacity: 100;
}

.toggle-dark, .toggle-light {
  margin: 2.5rem 0;
  width: 32px;
  aspect-ratio: 1;
}

.toggle-light {
  display: none;
}

.nav-items > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 5rem;
  width: 100%;
}

.nav-items > ul > li::after {
  content: "";
  background-color: rgb(96, 96, 96);
  width: 70%;
  height: 1px;
  display: block;
  margin: auto;
  border-radius: 2rem;
}

.nav-items > ul > li > a {
  text-decoration: none;
  color: black;
  user-select: none;
  -webkit-user-select: none;
}

.active {
  font-weight: bold;
}

/* Content */

.content-container {
  margin-top: 64px;
  transition: translate cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s, 
  opacity cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}
/* 
.content-container[data-loaded="false"] {
  transform: translateX(-250px);
  opacity: 0;
} */

.hero {
  height: 90vh;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  user-select: none;
  -webkit-user-select: none;
}

.splash {
  font-size: 38px;
  font-weight: 100;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.678);
  width: 80vw;
  max-width: 400px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  cursor: pointer;

}

.work-1:hover, .work-2:hover {
  transform: scale(1.1);
}

.inner-card {
  display: inline-block;
  background: rgb(188, 231, 233);
  width: 70%;
  border-radius: 0 0.25rem 0 0;
  padding-left: 1rem;
  height: max-content;
  margin-top: 75px;
}

.inner-card > h3 {
  line-height: 0;
}

.card > p {
  padding: 1rem 0 1rem 1rem;
  background: rgba(196, 196, 196, 0.514);
  width: 70%;
  border-radius: 0 0 0.25rem 0;
  margin-top: 0;
  backdrop-filter: blur(var(--bdblur));
  -webkit-backdrop-filter: blur(var(--bdblur));
}

.work-1 {
  background-image: url("/src/assets/img/yopo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.work-2 {
  background-image: url("/src/assets/img/munch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
}

.show-all {
  border: none;
  padding: 1rem 4rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(58, 58, 58, 0.575);
  background: rgb(150, 150, 150);
  font-weight: bold;
}

.works, .competencies {
  margin-top: 3rem;
  padding: 0 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.content-title {
  background: #C4C4C4;
  width: 80vw;
  padding: 0.2rem 0 0.2rem 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.works-title > h2 {
  font-size: 28px;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-info {
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.link-container > a {
  width: 32px;
  aspect-ratio: 1;
}

.img-container {
  position: sticky;
  top: calc(var(--nav-height) + 128px);
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.munch-hero {
  transform: scale(0.08);
}

/* Utility */

.dark {
  background: var(--bg-clr-dark);
}
